
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Journal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://127.0.0.1:3000/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body> 
  <div class="container-fluid p-0 m-0">
  <nav class="navbar navbar-expand-lg bg-nav navbar-light py-3">
    <a class="navbar-brand ml-4 text-dark" style="font-weight: bolder;" href="/">DAILY JOURNAL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColide">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColide">
      <div class="navbar-nav ml-auto mr-5">
        <a class="nav-link ml-4 text-dark" href="/">HOME</a>
        <a class="nav-link ml-4 text-dark" href="/COMPOSE">COMPOSE</a>
        <a class="nav-link  ml-4 text-dark" href="/about">ABOUT US</a>
        <a class="nav-link  ml-4 pr-5 text-dark" href="/contact">CONTACT US</a>
      </div>
    </div>
  </nav>
  </div>

