<%- include('partials/header') -%>
    <div class="container px-5 my-5">
    <h1 class="pl-3">Contact</h1>
    <p class="px-3"><%= contactContentPage %></p>
    </div>
<%- include('partials/footer') -%>