<%- include('partials/header') -%>
    <div class="container px-5 my-5">
        <h2 class="pl-3"><%= PostTitle %></h2>
        <p class="px-3"><%= PostData %></p>
    </div>
<%- include('partials/footer') -%>